# ===============================
# Build directories
# ===============================
Debug/
Release/
build/
*/build/

# ===============================
# CMake
# ===============================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ===============================
# Compiled / binary files
# ===============================
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.a

# ===============================
# Logs / temp files
# ===============================
*.log
*.swp
*.swo
*.bak
*.tmp

# ===============================
# STM32CubeIDE
# ===============================
.settings/
*.launch

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
